#!/usr/bin/make -f
#export DH_VERBOSE=1

DEB_HOST_GNU_TYPE    ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE   ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)

CFLAGS += -Os -Wall
LDFLAGS += -Wl,--as-needed -Wl,-O1

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O1 -g3
else
	CFLAGS += -g0 -fomit-frame-pointer
endif

build: build-stamp

build-stamp:
	dh build
	sed "s#@EXTDIR@#`php-config5 --extension-dir`#" debian/chuid.ini.in > debian/chuid.ini
	touch $@

override_dh_auto_configure:
	phpize5 --clean
	phpize5
	dh_auto_configure -- \
		--enable-chuid=shared \
		--with-cap
	
override_dh_auto_clean:
	dh_auto_clean
	phpize5 --clean
	-rm -rf debian/chuid.ini

clean:
	dh clean

override_dh_auto_install:
	$(MAKE) install INSTALL_ROOT=debian/php5-chuid

install: build
	dh install

# Build architecture-independent files here.
binary-indep:

# Build architecture-dependent files here.
binary-arch: build install
	echo "php:Depends=phpapi-`php-config5 --phpapi`" >> debian/php5-chuid.substvars
	dh binary-arch

binary: binary-arch binary-indep
.PHONY: build clean binary-indep binary-arch binary install configure
