Source: php-chuid
Section: php
Priority: optional
Maintainer: Vladimir Kolesnikov <vladimir@extrememember.com>
Build-Depends: debhelper (>= 7.0.50~), php5-dev, libcap-dev
Standards-Version: 3.9.3
Vcs-Bzr: lp:php-chuid

Package: php5-chuid
Architecture: any
Depends: ${shlibs:Depends}, ${php:Depends}, ${misc:Depends}
Description: Runs PHP as the owner of DocumentRoot
 php-chuid allows one to run PHP CLI/CGI/FastCGI as the owner of the
 DocumentRoot changing UID/GID upon request start and reverting
 to the original UID/GID when the request finishes.
 .
 PHP5 is an HTML-embedded scripting language. Much of its syntax is borrowed
 from C, Java and Perl with a couple of unique PHP-specific features thrown
 in. The goal of the language is to allow web developers to write
 dynamically generated pages quickly.

Package: php5-chuid-dbg
Depends: ${misc:Depends}, php5-chuid (= ${binary:Version})
Recommends: gdb
Section: debug
Priority: extra
Architecture: any
Description: Debug symbols for php5-chuid
 This package provides the debug symbols for php5-chuid needed for properly
 debugging errors with gdb.
 .
 PHP5 is an HTML-embedded scripting language. Much of its syntax is borrowed
 from C, Java and Perl with a couple of unique PHP-specific features thrown
 in. The goal of the language is to allow web developers to write dynamically
 generated pages quickly.
